<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7e27c7a-ac23-4a6e-b52f-13c4d02c8648" Alias="Admins Only Block List" Level="2">
  <Info>
    <Name>Admins Only Block List</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "admin"
  ],
  "dataType": "umb://data-type/0f7cc7457009407ea6636342bd2a5bf7",
  "indicator": "0"
}]]></Config>
</DataType>