<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0376bd95-2519-4039-ace6-aaf6efb8d387" Alias="Admins Only Textstring" Level="2">
  <Info>
    <Name>Admins Only Textstring</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "admin"
  ],
  "dataType": "umb://data-type/0cc0eba1996042c9bf9b60e150b429ae",
  "indicator": "0"
}]]></Config>
</DataType>