<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14493f36-5acb-4cc6-a4a9-ce87aa1ad626" Alias="Admins Only Numeric" Level="2">
  <Info>
    <Name>Admins Only Numeric</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "admin"
  ],
  "dataType": "umb://data-type/2e6d3631066e44b8aec496f09099b2b5",
  "indicator": "0"
}]]></Config>
</DataType>