<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4004dbf-83fe-4040-9b84-c986585e9cc1" Alias="Editors Only Textstring" Level="2">
  <Info>
    <Name>Editors Only Textstring</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "editor"
  ],
  "dataType": "umb://data-type/0cc0eba1996042c9bf9b60e150b429ae",
  "indicator": "0"
}]]></Config>
</DataType>