<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cac3b725-5870-4c67-a4a7-b2da8f413805" Alias="testTabs" Level="1">
  <Info>
    <Name>Test - Tabs</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>066918d3-7601-4ad9-b134-ed95d888fa74</Key>
      <Name>Textstring1</Name>
      <Alias>textstring1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For everyone]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabA2Groups1/group111">Group 1.1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0de356d7-e904-43df-aaea-d261dcbd5622</Key>
      <Name>Textstring 10</Name>
      <Alias>textstring10</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabD2GroupsAdminOnly1/group411">Group 4.1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>902ddc29-462b-4b5b-83c7-aa82f854d540</Key>
      <Name>Textstring 11</Name>
      <Alias>textstring11</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabD2GroupsAdminOnly1/group411">Group 4.1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d24328f-b4fc-4fe4-a00d-df011a8ae511</Key>
      <Name>Textstring 12</Name>
      <Alias>textstring12</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins Only]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabD2GroupsAdminOnly1/group42">Group 4.2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42186c22-c4ec-4c46-9a7a-3a559a1fec43</Key>
      <Name>Textstring2</Name>
      <Alias>textstring2</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabA2Groups1/group111">Group 1.1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7f2004d-69a3-4275-825f-86be534946c4</Key>
      <Name>Textstring 3</Name>
      <Alias>textstring3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For everyone]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabA2Groups1/group12">Group 1.2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>05451f59-3f8f-4bc1-996c-4f47ff246c67</Key>
      <Name>Textstring 4</Name>
      <Alias>textstring4</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabA2Groups1/group12">Group 1.2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b5adcab-9d49-4a94-80fc-a53bee2e01d5</Key>
      <Name>Textstring 5</Name>
      <Alias>textstring5</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For everyone]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabBNoGroups">Tab B: no groups</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>614e7dde-9d4d-4c6a-a083-b293fbeb6e06</Key>
      <Name>Textstring 6</Name>
      <Alias>textstring6</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabBNoGroups">Tab B: no groups</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>018dad37-a8b8-4dc4-9905-2f40add64bf1</Key>
      <Name>Textstring 7</Name>
      <Alias>textstring7</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabCNoGroupsAdminOnly">Tab C: no groups, admin only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce2a6396-a1e3-42ec-b875-cda4541b8ef8</Key>
      <Name>Textstring 8</Name>
      <Alias>textstring8</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabCNoGroupsAdminOnly">Tab C: no groups, admin only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94855784-b316-4288-90f6-e13ee1d4440e</Key>
      <Name>Textstring 9</Name>
      <Alias>textstring9</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Admins only]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tabCNoGroupsAdminOnly">Tab C: no groups, admin only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2d218db1-6da8-47be-a754-c026b24af205</Key>
      <Caption>Tab D: 2 groups, admin only</Caption>
      <Alias>tabD2GroupsAdminOnly1</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>30b84990-3703-42a7-8e2d-3ebad5475d8c</Key>
      <Caption>Group 4.1</Caption>
      <Alias>tabD2GroupsAdminOnly1/group411</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>34a4cf9d-4d02-4cf7-a0a7-a442b84ccfb3</Key>
      <Caption>Tab B: no groups</Caption>
      <Alias>tabBNoGroups</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>3852da7e-deb4-4296-b3af-f00d156df9ae</Key>
      <Caption>Tab C: no groups, admin only</Caption>
      <Alias>tabCNoGroupsAdminOnly</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>92b7281f-2631-46a9-94e7-3d0a19497d13</Key>
      <Caption>Group 1.1</Caption>
      <Alias>tabA2Groups1/group111</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>984d7ffa-963f-45ee-8163-7f52e0597269</Key>
      <Caption>Group 1.2</Caption>
      <Alias>tabA2Groups1/group12</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9f2dc0f3-2fb7-4919-a54a-a070a6c75321</Key>
      <Caption>Tab A: 2 groups</Caption>
      <Alias>tabA2Groups1</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c6f93020-e748-4b66-afd1-ea8ae8300270</Key>
      <Caption>Group 4.2</Caption>
      <Alias>tabD2GroupsAdminOnly1/group42</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>