<?xml version="1.0" encoding="utf-8"?>
<Content Key="48cb0c64-6803-45f2-b319-00a61fdd4872" Alias="Only Restricted Properties" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlyRestrictedProperties</Path>
    <Trashed>false</Trashed>
    <ContentType>testOnlyRestricted</ContentType>
    <CreateDate>2023-03-18T21:23:14</CreateDate>
    <NodeName Default="Only Restricted Properties" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6003f7e1-688f-433d-99d6-66265929f44a">TestOnlyRestricted</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.Community.AdminOnlyProperty": [
      {
        "contentUdi": "umb://element/0e1a4aa997d84396ac608f61d923afc9"
      },
      {
        "contentUdi": "umb://element/704f80923dd0443a923a07361c37e3c9"
      }
    ],
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/98c1d6e662ed4a91aadaf4acad4e7d52"
      },
      {
        "contentUdi": "umb://element/026a56e2208c4ff3811b8208bdc487d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ef69fb7f-558d-4e8e-9a35-032aaefd234f",
      "udi": "umb://element/0e1a4aa997d84396ac608f61d923afc9",
      "textstring": "Textstring 1",
      "numeric": 1
    },
    {
      "contentTypeKey": "9711e112-381c-4da9-bc42-f717f8f0bb70",
      "udi": "umb://element/704f80923dd0443a923a07361c37e3c9",
      "numeric": 2,
      "textstring": "Textstring 2"
    },
    {
      "contentTypeKey": "ef69fb7f-558d-4e8e-9a35-032aaefd234f",
      "udi": "umb://element/98c1d6e662ed4a91aadaf4acad4e7d52",
      "textstring": "Textstring 1",
      "numeric": 1
    },
    {
      "contentTypeKey": "9711e112-381c-4da9-bc42-f717f8f0bb70",
      "udi": "umb://element/026a56e2208c4ff3811b8208bdc487d0",
      "numeric": 2,
      "textstring": "Textstring 2"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <indicator>
      <Value><![CDATA[textstring property visible to only admins]]></Value>
    </indicator>
    <numeric>
      <Value><![CDATA[2]]></Value>
    </numeric>
    <textarea>
      <Value><![CDATA[textarea property visible to only admins]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[textstring property visible to only admins]]></Value>
    </textstring>
    <trueFalse>
      <Value><![CDATA[1]]></Value>
    </trueFalse>
  </Properties>
</Content>