<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3b13bda-1ca6-4871-b83f-eb9be04cb5fd" Alias="testOnlyRestricted" Level="1">
  <Info>
    <Name>Test - Only Restricted</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6003f7e1-688f-433d-99d6-66265929f44a">TestOnlyRestricted</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a28d2d98-22b3-4da1-b43e-4e4aea1d5ca1</Key>
      <Name>Block List</Name>
      <Alias>blockList</Alias>
      <Definition>a7e27c7a-ac23-4a6e-b52f-13c4d02c8648</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7eaf9719-1aea-48d9-a99c-299782d47f56</Key>
      <Name>Indicator</Name>
      <Alias>indicator</Alias>
      <Definition>b3389beb-67f4-486e-899e-34c90018e4c4</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This property should appear with a padlock]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08ef8794-e2ad-41da-82d4-5f6e0e8c249f</Key>
      <Name>Numeric</Name>
      <Alias>numeric</Alias>
      <Definition>14493f36-5acb-4cc6-a4a9-ce87aa1ad626</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>161c51bf-8210-466c-b79c-3e017438f6b4</Key>
      <Name>Textarea</Name>
      <Alias>textarea</Alias>
      <Definition>6fe8e4e4-143a-4e8b-af2f-08689adf8396</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32f9c00a-213f-46be-aeb8-ce5888e7e03c</Key>
      <Name>Textstring</Name>
      <Alias>textstring</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38060fc9-c83a-4a07-88ef-07addab2140a</Key>
      <Name>True/False</Name>
      <Alias>trueFalse</Alias>
      <Definition>fbf42a9e-4fb2-472c-877c-6672b94aede2</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7e534462-57c9-45fd-a858-338af44e2971</Key>
      <Caption>Properties and Group Visible to Admins Only</Caption>
      <Alias>propertiesAndGroupVisibleToAdminsOnly</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>