<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a352e878-6383-4c6f-8b0f-29f60795158c" Alias="testRestrictedOthers" Level="1">
  <Info>
    <Name>Test - Restricted and Others</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35d5bbb7-d748-4cdc-91bc-923fac0fd9a9">TestRestrictedAndOthers</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3a41f55b-13fa-4abd-af67-6419c55efad3</Key>
      <Name>Block List</Name>
      <Alias>blockList</Alias>
      <Definition>a7e27c7a-ac23-4a6e-b52f-13c4d02c8648</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eedbd0bf-a960-4847-b61c-4f94d346fdaa</Key>
      <Name>Block List (All)</Name>
      <Alias>blockListAll</Alias>
      <Definition>0f7cc745-7009-407e-a663-6342bd2a5bf7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAllUsers">Properties and Group Visible to All Users</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fbb9c2e-2a6c-48d8-a3e6-07eca1d9a44a</Key>
      <Name>Indicator</Name>
      <Alias>indicator</Alias>
      <Definition>b3389beb-67f4-486e-899e-34c90018e4c4</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This property should appear with a padlock]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a28d26fa-6a75-4f71-8316-67232c6b1f60</Key>
      <Name>Numeric</Name>
      <Alias>numeric</Alias>
      <Definition>14493f36-5acb-4cc6-a4a9-ce87aa1ad626</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c59460b-e7f3-42b8-9ff8-d273e41ab0ff</Key>
      <Name>Textarea</Name>
      <Alias>textarea</Alias>
      <Definition>6fe8e4e4-143a-4e8b-af2f-08689adf8396</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b61d5dd-99b3-4328-b27b-b700152a43bc</Key>
      <Name>Textstring</Name>
      <Alias>textstring</Alias>
      <Definition>0376bd95-2519-4039-ace6-aaf6efb8d387</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86fe280c-9f21-44b1-a48e-0609b78bec13</Key>
      <Name>Textstring (All)</Name>
      <Alias>textstringAll</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAllUsers">Properties and Group Visible to All Users</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4e17925-0890-4ca7-a7e0-8a5828ee67aa</Key>
      <Name>Textstring (Editor)</Name>
      <Alias>textstringEditor</Alias>
      <Definition>a4004dbf-83fe-4040-9b84-c986585e9cc1</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="propertyAndGroupVisibleToEditorsOnly">Property and Group Visible to Editors Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb086c1d-2bf8-45dc-8568-9dda09632fac</Key>
      <Name>True/False</Name>
      <Alias>trueFalse</Alias>
      <Definition>fbf42a9e-4fb2-472c-877c-6672b94aede2</Definition>
      <Type>Umbraco.Community.AdminOnlyProperty</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="propertiesAndGroupVisibleToAdminsOnly">Properties and Group Visible to Admins Only</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>04ccc732-6cea-426d-82ba-a64ef47c4e02</Key>
      <Caption>Properties and Group Visible to All Users</Caption>
      <Alias>propertiesAndGroupVisibleToAllUsers</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>314ff301-bfb6-4a76-b9df-62f43bea1a43</Key>
      <Caption>Properties and Group Visible to Admins Only</Caption>
      <Alias>propertiesAndGroupVisibleToAdminsOnly</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>77ef0288-b598-4cdd-935d-84c2c7f7bca7</Key>
      <Caption>Property and Group Visible to Editors Only</Caption>
      <Alias>propertyAndGroupVisibleToEditorsOnly</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>