<?xml version="1.0" encoding="utf-8"?>
<Content Key="68964cee-bcaa-4dd5-9851-9968669e0916" Alias="Groups and Tabs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GroupsAndTabs</Path>
    <Trashed>false</Trashed>
    <ContentType>testTabs</ContentType>
    <CreateDate>2023-03-19T00:29:13</CreateDate>
    <NodeName Default="Groups and Tabs" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <textstring1>
      <Value><![CDATA[]]></Value>
    </textstring1>
    <textstring10>
      <Value><![CDATA[]]></Value>
    </textstring10>
    <textstring11>
      <Value><![CDATA[]]></Value>
    </textstring11>
    <textstring12>
      <Value><![CDATA[]]></Value>
    </textstring12>
    <textstring2>
      <Value><![CDATA[]]></Value>
    </textstring2>
    <textstring3>
      <Value><![CDATA[]]></Value>
    </textstring3>
    <textstring4>
      <Value><![CDATA[]]></Value>
    </textstring4>
    <textstring5>
      <Value><![CDATA[]]></Value>
    </textstring5>
    <textstring6>
      <Value><![CDATA[]]></Value>
    </textstring6>
    <textstring7>
      <Value><![CDATA[]]></Value>
    </textstring7>
    <textstring8>
      <Value><![CDATA[]]></Value>
    </textstring8>
    <textstring9>
      <Value><![CDATA[]]></Value>
    </textstring9>
  </Properties>
</Content>