<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ed77982-e38d-4ec9-97c9-54b660c082f0" Alias="Restricted and Other Properties" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RestrictedAndOtherProperties</Path>
    <Trashed>false</Trashed>
    <ContentType>testRestrictedOthers</ContentType>
    <CreateDate>2023-03-05T10:46:04</CreateDate>
    <NodeName Default="Restricted and Other Properties" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35d5bbb7-d748-4cdc-91bc-923fac0fd9a9">TestRestrictedAndOthers</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.Community.AdminOnlyProperty": [
      {
        "contentUdi": "umb://element/b751aca554d541a0a7060b2f2cc66138"
      },
      {
        "contentUdi": "umb://element/688f737e455a424dbb2987ead67e16f1"
      }
    ],
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/23e76bd0c98d484fb2284e4028ef188e"
      },
      {
        "contentUdi": "umb://element/a05f6b60549d492ba1b28aa0b7ee798f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ef69fb7f-558d-4e8e-9a35-032aaefd234f",
      "udi": "umb://element/b751aca554d541a0a7060b2f2cc66138",
      "textstring": "Block number 1 (element 1)",
      "numeric": 1
    },
    {
      "contentTypeKey": "9711e112-381c-4da9-bc42-f717f8f0bb70",
      "udi": "umb://element/688f737e455a424dbb2987ead67e16f1",
      "numeric": 2,
      "textstring": "Block number 2 (element 2)"
    },
    {
      "contentTypeKey": "ef69fb7f-558d-4e8e-9a35-032aaefd234f",
      "udi": "umb://element/23e76bd0c98d484fb2284e4028ef188e",
      "textstring": "Block number 1 (element 1)",
      "numeric": 1
    },
    {
      "contentTypeKey": "9711e112-381c-4da9-bc42-f717f8f0bb70",
      "udi": "umb://element/a05f6b60549d492ba1b28aa0b7ee798f",
      "numeric": 2,
      "textstring": "Block number 2 (element 2)"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <blockListAll>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a68354d65736418b99279a172b664994"
      },
      {
        "contentUdi": "umb://element/88332a370ce646c388c598c2e45e4a4d"
      },
      {
        "contentUdi": "umb://element/897538073e6e4682b82cc71aac36f1a9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ef69fb7f-558d-4e8e-9a35-032aaefd234f",
      "udi": "umb://element/a68354d65736418b99279a172b664994",
      "textstring": "Block number 1 (element 1)",
      "numeric": "1"
    },
    {
      "contentTypeKey": "ef69fb7f-558d-4e8e-9a35-032aaefd234f",
      "udi": "umb://element/88332a370ce646c388c598c2e45e4a4d",
      "textstring": "Block number 2 (element 1)",
      "numeric": "2"
    },
    {
      "contentTypeKey": "9711e112-381c-4da9-bc42-f717f8f0bb70",
      "udi": "umb://element/897538073e6e4682b82cc71aac36f1a9",
      "numeric": "3",
      "textstring": "Block number 3 (element 2)"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListAll>
    <indicator>
      <Value><![CDATA[textstring property visible to only admins]]></Value>
    </indicator>
    <numeric>
      <Value><![CDATA[3]]></Value>
    </numeric>
    <textarea>
      <Value><![CDATA[textarea property visible to only admins]]></Value>
    </textarea>
    <textstring>
      <Value><![CDATA[textstring property visible to only admins]]></Value>
    </textstring>
    <textstringAll>
      <Value><![CDATA[property visible to all users]]></Value>
    </textstringAll>
    <textstringEditor>
      <Value><![CDATA[property visible to editors only]]></Value>
    </textstringEditor>
    <trueFalse>
      <Value><![CDATA[1]]></Value>
    </trueFalse>
  </Properties>
</Content>