<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbf42a9e-4fb2-472c-877c-6672b94aede2" Alias="Admins Only TrueFalse" Level="2">
  <Info>
    <Name>Admins Only TrueFalse</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "admin"
  ],
  "dataType": "umb://data-type/92897bc6a5f34ffeae27f2e7e33dda49",
  "indicator": "0"
}]]></Config>
</DataType>