<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3389beb-67f4-486e-899e-34c90018e4c4" Alias="Admins Only Indicator" Level="2">
  <Info>
    <Name>Admins Only Indicator</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "admin"
  ],
  "dataType": "umb://data-type/0cc0eba1996042c9bf9b60e150b429ae",
  "indicator": "1"
}]]></Config>
</DataType>