<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fe8e4e4-143a-4e8b-af2f-08689adf8396" Alias="Admins Only Textarea" Level="2">
  <Info>
    <Name>Admins Only Textarea</Name>
    <EditorAlias>Umbraco.Community.AdminOnlyProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Admin+Only+Properties</Folder>
  </Info>
  <Config><![CDATA[{
  "userGroups": [
    "admin"
  ],
  "dataType": "umb://data-type/c6bac0dd4ab945b18e30e4b619ee5da3",
  "indicator": "0"
}]]></Config>
</DataType>